.DS_Store

# Secrets and Local Overrides
.env
.dev.vars

# Build output
.output/
dist/
.vinxi/
tsconfig.tsbuildinfo

# Dependencies
node_modules/

# Wrangler state
.wrangler/

# Prisma
src/generated/prisma/
prisma/data.db
prisma/data.db-journal