.DS_Store

# Secrets and Local Overrides
.env
.dev.vars

# Build output
.output/
.nitro/
.tanstack/
dist/
tsconfig.tsbuildinfo

# Dependencies
node_modules/

# Wrangler state
.wrangler/

# Prisma
dev.db
src/generated/
prisma/data.db


# virtus history data
data/history
